{% extends 'global/base.html' %}

{% block title %} Home{% endblock title %} 

{% block content %}

<div class="main-content main-content-list container">
    <a class="main-logo back" href="{% url 'product:product' %}">
        <span class="main-logo-text">Product</span>
    </a>
</div>

<div class="main-content main-content-list container">

    <a class="main-logo back" href="{% url 'product:category' %}">
        <span class="main-logo-text">Category</span>
    </a>
</div>

<div class="main-content main-content-list container">
    <a class="main-logo back" href="{% url 'product:provider' %}">
        <span class="main-logo-text">Provider</span>
    </a>
</div>

{% endblock content %}